@{
    ViewData["Title"] = "Home";
}

<p>Waarom zou een werkgever investeren in het tewerkstellen van personen met een grote afstand tot de arbeidsmarkt en/of functiecreatie? We zijn geneigd te denken dat we - ook managers en bedrijfsleiders - erg rationele wezens zijn, die (grote) beslissingen weloverwogen maken. Maar... zijn menselijke beslissingen wel zo rationeel als we denken?</p>
<p>Niet echt. Mensen beslissen op basis van eigen kennis, ervaring, inschattingsvermogen en intuïtie. We gaan er vanuit dat we daarmee in staat zijn om consistente en evenwichtige beslissingen te nemen of, anders gezegd, een rationele afweging te maken. De waarheid is echter heel verschillend. Veel van onze besluitvorming wordt door een automatische piloot-functie van onze hersenen gedaan. Met als gevolg dat wij, en ook werkgevers, veel beslissingen nemen op basis van vooroordelen in plaats van alle beschikbare informatie in overweging te nemen.</p>
<p>Het maken van een business case kan helpen om de besluitvorming te verbeteren, want het geeft betrouwbare, op feiten gebaseerde informatie en vermindert de subjectiviteit in beoordeling en besluitvorming. De kans dat de werkgever op het aanbod van de arbeidsbemiddelaar zal ingaan, vergroot naarmate hij het aanbod duidelijk en zakelijk onderbouwd weet te onderbouwen.</p>
<p>Met deze tool kunnen werkgevers inzicht krijgen in de economische waarde van het werken met mensen met een grote afstand tot de arbeidsmarkt. Zij kunnen berekenen wat de kosten en baten voor hun bedrijf zijn.</p>
