@{
    ViewData["Title"] = "Login";
}

<div class="login-page">
    <div class="form">
        <form class="register-form">
            <input type="text" placeholder="Naam" />
            <input type="text" placeholder="Familienaam" />
            <input type="text" placeholder="E-mailadres" />
            <input type="text" placeholder="Naam Bedrijf" />
            <button onclick="registreer()">Registreer</button>
            <p class="message">Reeds geregistreerd? <a href="#">Aanmelden</a></p>
        </form>
        <form class="login-form">
            <input type="text" placeholder="e-mailadres" />
            <input type="password" placeholder="wachtwoord" />
            <button>Aanmelden</button>
            <p class="message">Nog niet geregistreerd? <a href="#">Een account aanmaken</a></p>
        </form>
    </div>
</div>